<section>
    <div class="create-post">
		<h3>Post Your Thoughts</h3>
		<div class="title">
		    <p>Share your thoughts, join the conversation and meet like minded people.</p>
		    <p>Your contribution is always welcome</p>
		</div>
		<div class="create-post-btn">
		<a href="/new">
		 <button type="button" class="btn btn-primary">Create New Post</button>
		</a>
		</div>
    </div>
</section>		